@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

body {
	margin: 0px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
	text-decoration: none;	
}

/*Navbar*/
/*Another file*/

/*Popular categories*/
.items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pics img {
	width: auto;
	height: 200px;
	padding: 20px;
}

.pics {
	display: flex;
}

.pics .blocks {
	align-items: center;
	margin-left: 85px;	
}

.pics .blocks:hover {
	background-color: rgba(255, 228, 64, 0.7);
	/*background-color: #fff7c7;*/
	transition: background-color 500ms ease;
	border-radius: 15px;
}

.pics .blocks p {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #7d7d7d;
	margin-top: -8px;
}

/*Banner*/
#main .main {
	padding-left: 0;
	padding-right: 0;
}

#main .banner .title {
	font-weight: bold;
	color: #FFFFFF;
	align-self: center;
	font-size: 50px;
}

.banner {
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.banner1 {
	background-color: #EBB32B;
}

.banner .bannerText {
	margin-left: 3%;
	margin-right: 3%;
	color: #FFFFFF;
	align-self: center;
}

.bannerText .description {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 40px;
}

.bannerText .btn {
  	border: none;
  	font-weight: bold;
 	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 20px;
}

.bannerText .btn1 {
	background-color: #FFFFFF;
	color: #000;
}

.bannerText .btn1:hover {
	/*background-color: #000;*/
	background-color: #6FB98F;
  	color: #FFF;
  	transition: background-color 200ms ease;
}

.animalBannerImg {
	height: 340px;
	width: auto;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 1%;
	margin-bottom: 1%;
}

/*=====*/
.banner2 {
	/*background-color: #EBB32B;*/
	background-color: #2c7873;
}


/*=====*/
.bannerText .btn2 {
	background-color: #FFFFFF;
  	color: #000;
}

.bannerText .btn2:hover {
	/*background-color: #000;*/
  	/*color: #FFF;*/
  	background-color: #EBB32B;
    color: #000;
  	transition: background-color 200ms ease;
}

/*Fotter*/
/*Another file*/
