#calendar{
  padding:0;
}
#calendar h2{
  width: 80%;
  color: white;
  text-align: center;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  position: relative;
  left:10%
}

#calendar input{
  /* margin-right: 1em; */
  width: 20%;
  text-align: center;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  background-color:#eee;
  border:none;
  /* border-radius: 0.8em; */
}


/* ####################################################################################################################### */



/* ####################################################################################################################### */


#activities-list{
  padding-right: 13%;
  padding-left:13%;
}

.activity-card
{
  border-top: 2px solid #919191;
  color: #777;
  width: 100%;
}

.hour-section{
  
  padding-left: 1em;
  padding-right: 1em;
  width: 15%;
  
  box-shadow:0 0 4px 0  #919191;
}
.bg-darker{
  background-color:  #ddd;
}
.bg-lighter{
  background-color: #eee;
}


.hour{
  font-size: 22px;
}

.description{
  width: 85%;
  text-align: center;
  position: relative;
  right: 7.5%;
}

.description button{
  color: inherit;
  background-color: inherit;
  font: inherit;
  border: none;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0;
}


/* ################################################################################################################### */

/* Month header */
.month {
  padding-top: 0 ;
  padding-bottom: 20px;
  text-align: center;
  height: 15%;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
}

/* Next button */
.month .next {
  float: right;

}

.month button{
  background-color: inherit;
  font:inherit;
  color: inherit;
  border:none;  
  border-radius: 0.2em ;

}

.month button:hover{
  background-color: rgba(201, 201, 201, 0.541);
  color: rgb(247, 245, 245);
}
.month button:active{
  
  background-color: rgba(221, 221, 221, 0.747);
  color: #666;
}
.month button:focus{
  outline: 0;
}

/* #calendar{
  margin: auto;
  width: 100%;
  height: 74%;
  background-color: #ddd;
  padding:0;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  
} */

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding:  0;
  background-color:#ddd;
}

.weekdays td {
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.week {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.week td{
  text-align: center;
  margin-bottom: 5px;

 
}

.week button{
  border: none;
  font-size: 16px;
  color: #777; 
  padding:5px;
  border-radius: 0.5em;
}
.week button:hover{
  background: #a4d8ce;
  color: white !important; 
}


/* Highlight the "current" day */
.week button:focus {
  outline:0;
  background: #1abc9c;
  color: white !important; 
}

